body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

#movieInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#lblTitulo,
#lblAño {
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

img {
    border-color: black;
    border-style: solid;
    max-width: 100%;
    margin-top: 10px; 
}

#lblReseña {
    max-width: 500px;
    margin-top: 10px; 
    margin-left: 10px; 
    border-style: solid;
    border-color: black;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#lblActores {
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

hr{
    width: 60%;
    border-style: solid;
    border-color: rgb(45, 45, 99);
}

#lblResultado{
    font-size: 25px;
    font-weight: bold;
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
    background-color: black;
}

button:hover{
    background-color: rgb(46, 46, 46);
    transition-duration: 0.3s;
}

input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

